* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.nav {
    background: url(../img/header.svg);
    width: 100%;
    height: 120px;
    justify-content: end;
    
}

.nav .menu {
    margin-top: 50px;
    grid-column: 3/5;
    
}


.nav .menu a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    padding: 8px 30px;
    transition: .3s;
    border-bottom: 2px solid #000;
    
}

.nav .menu a:hover {
    color: #fff;
    background-color: #349156;
}


/* --------END NAVBAR--------- */

.desc-table {
    margin: auto;
    width: 98%;
}

thead {
    background-color: #c5c5c5;
    color: #000;
}

.icones a{
    padding: 10px ;
    color: #000;
    border-radius: 50%;
    background-color: transparent;
    border: #000 solid 1px;
    
}
.icones a:hover{
    background-color: #000000a2;
    border-radius: 50%;
    color: #fff;
}
.icone2{
    border-radius: 50%;
    height: 40px;
}
footer {
    background-color: #186835 !important;
}